/* src/styles.css */

/* --- GLOBAL THEME DEFINITION --- */
body {
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
}

/* Dark Theme */
body.dark-theme {
    --bg-color: #242424; /* Dark background */
    --card-bg-color: #383838; /* Card background */
    --text-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --accent-color: #ffd700; /* Gold yellow for accentuation */
    --secondary-bg: #4a4a4a; /* Background for detail elements */
}

/* Light Theme */
body.light-theme {
    --bg-color: #fafafa; /* Light background */
    --card-bg-color: #ffffff;
    --text-color: #343a40;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --accent-color: #FFA500; /* Orange for accentuation */
    --secondary-bg: #e9ecef;
}

/* Apply default theme for transition */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
